@import 'compass/css3';
@import 'compass/utilities/general/hacks';
@import 'media-queries';

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.inline-block {
    display: inline-block;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*EFFECTS*/
.social-links li > a,
.post-map p > a,
.navbar-nav>li{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links > li > a:hover,
.post-map p > a:hover {
    -moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha (Opacity=70)";
}

.social-links li > a:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    background-color: #dcdcde;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #242424;
    font-weight: 400;
    min-width: 320px;
    padding-top: 70px;
}

body.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}

/*.modal-open header,*/
.modal-open .jumbotron .bg,
.modal-open .scroll-back-to-top-wrapper,
.modal-open .txt-box{
    z-index: auto !important;
}

.modal-backdrop.in {
    z-index: 1039;
}

#trialModal .links {
    padding-top: 42px;
}

a,
a:active,
a:visited {
    color: #e25447;
}

.read_more:active,
.read_more:visited {
    color: #fff;
}

.main-content h3 {
    line-height: 34px;
}

.navbar {
    min-height: 70px;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.navbar-brand {
    line-height: 35px;
    height: 70px;
    padding: 9px 15px;
}

.navbar-brand>img {
    display: inline-block;
    width: auto;
}

.navbar-nav>li.linkedin-link,
.social-menu>li{
    border-left: none;
}

.navbar-nav>li:hover {
    /*background-color: #f5f5f5;*/ 
    background-color: #fff; 
}

.navbar-nav>li.twitter-link,
.navbar-nav>li.linkedin-link {
    border: none;
}
.navbar-nav>li.twitter-link:hover,
.navbar-nav>li.linkedin-link:hover {
    background-color: #fff; 
    border: none;
}
.navbar-nav>li>a {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}
.navbar-nav>li.twitter-link>a {
    padding-right: 2px;
    padding-left: 20px;
    padding-top: 5px;
    border: none;
}
.navbar-nav>li.linkedin-link>a {
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 5px;
    border: none;
}
.navbar-nav>li>a>.fa {
    vertical-align: middle;
}
.navbar-nav>li>a>.fa-twitter-square {
    color: #0daadc;    
}
.navbar-nav>li>a>.fa-linkedin-square {
    color: #007db1;    
}
.navbar-nav>li:hover>a>.fa-twitter-square {
    color: #0EBFF7;
}
.navbar-nav>li:hover>a>.fa-linkedin-square {
    color: #00A1E4;
}
.navbar-nav>li.twitter-link:hover a,
.navbar-nav>li.linkedin-link:hover a {
    border: none;
}
.navbar-nav>li.twitter-header{
    height: 90px;
    display: table;
    padding-right: 5px;
}
.navbar-nav>li.twitter-header > a{
    color: #59595c;
    font-size: 12px;
    line-height: 16px;
    display: table-cell; 
    vertical-align: middle;
    background: url('../img/twitter-header-icon.png') no-repeat right center;
    padding-right: 30px;
}
.navbar-nav>li.twitter-header > a >span{
    color: #ee584b;
}



.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #d73f2a;
}

#wrap {
    min-height: 100%;
}

h1.headline {
    font-weight: 300;
    font-size: 45px;
    line-height: 55px;
}

.jumbotron {
    background-color: #ebebed;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*.home .jumbotron {
    height: 480px;
    margin-bottom: 120px;
}*/

.carousel-wrap {
    background-color: #f5f5f5;
}

.page-template-template-home2-php .jumbotron,
.carousel-wrap {
    height: 305px;
}
.page-template-template-home2-php .jumbotron {
    margin-bottom: 80px;
}
.page-template-template-home2-php .jumbotron .container > .row,
.carousel-wrap .container > .row {
    position: relative;
    text-align: right;
}
.page-template-template-home2-php .jumbotron .bg,
.carousel-wrap .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
/*.home .jumbotron h1 {
    margin-bottom: 20px;
}*/
.home-box .aligncenter {
    margin: 0 auto;
}

.page-template-template-home2-php .jumbotron h1,
.carousel h1 {
    font-size: 28px;
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
}
.page-template-template-home2-php .jumbotron h2,
.carousel h2{
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
}
/*.home .jumbotron img {
    bottom: 0px;
    position: relative;
    margin: 0 auto;
}*/
.carousel-wrap img {
    margin: 0;
    bottom: 0px;
    position: relative;
}
#home-carousel, 
#home-carousel .carousel-inner, 
#home-carousel .carousel-inner .item {
  height: 100%;
  /*position: relative;*/
}
#home-carousel {
  height: 305px;
}

#home-carousel .carousel-indicators {
    display: none;
}

#home-carousel .carousel-inner .item {
  opacity: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition:opacity 1s;
  transition: opacity 1s;
/*  position: relative;
  min-height: 100%;
  height: 305px;*/
}

#home-carousel .carousel-inner .active {
  opacity: 1;
  z-index: 1;
  left: 0;
}
#home-carousel .carousel-inner .active.left,
#home-carousel .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    top: 0;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#home-carousel .carousel-inner .next.left,
#home-carousel .carousel-inner .prev.right {
    opacity: 1;
    left: 0;
    top: 0;
}

#home-carousel .carousel-inner .item > img {
  position: absolute;
  top: 0px;
  left: 0px;
}

#home-carousel .text-box {
    display: table;
    min-height: 100%;
    height: 100%;
    width: 42%;
    float: right;
}
#home-carousel .text-box > .inner {
    display: table-cell;
    vertical-align: middle;
}
#home-carousel .text-box button {
    margin-bottom: 5px;
    min-width: 140px;
}
#home-carousel .text-box button.btn2 {
    background-color: #4bbea4;
    border-color: #35A58B;
}
#home-carousel .text-box button.btn2:hover,
#home-carousel .text-box button.btn2:active {
    background-color: #35A58B;
}

.hpage-template-template-home2-php .jumbotron img {
    position: relative;
    margin-top: 30px;
}

.jumbotron .txt-box {
    padding: 110px 0;
    z-index: 2;
    position: relative;
}

.jumbo-headline {
    background: #f35650 url('../img/features-bg.png') no-repeat 75% center;
    padding: 20px 0;
    margin-bottom: 5px;
}

#home-carousel .btn > .fa {
    margin-left: 8px;
}

.btn-transparent {
    background: none;
    border-color: #d43f3a;
    padding: 6px 18px;
}
.btn-transparent:hover,
.btn-transparent:focus {
    color: #FF1500;
    border-color: #FF1500;
}

.sky-form {
    box-shadow: none !important;
}
.sky-form footer {
    background: none !important;
    border: none !important;
}
.sky-form footer button.button {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    height: auto !important;
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    opacity: 1 !important;
}

.sky-form footer button.button:hover,.sky-form footer button.button:focus{
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}
.sky-form .description {
    float: right;
    font-style: italic;
}




.pricing-headline {
    background-color: #4bbea4;
}
.way-waylay {
    background-color: #825480;
}
.jumbo-headline h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.home .contact-section {
    background-color: #ebebed;
    padding-top: 15px;
    padding-bottom: 35px;
}

.feature-page2 {
    margin-top: 20px;
}

.slider {
    padding-top: 50px;
    padding-bottom: 10px;
}
.slider .col-sm-4.column {
    margin-bottom: 20px;
}

/*.feature-top {
    padding-top: 50px;
    padding-bottom: 50px;
}*/

.feature-top {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

.feature-page2 .feature-item {
    margin-bottom: 15px;
    padding-bottom: 50px;
}
.feature-page2 .feature-item.last {
    float: none;
    margin: 15px auto 30px;
}
.feature-page2 .feature-item img {
    display: inline-block;
    position: relative;
}
.feature-page2 .feature-item h3 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    padding: 8px 5px;
    margin: 0px;
}
.feature-page2 .feature-item p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-bottom {
    color: #fff;
    background-color: #f35650;
    padding: 15px 0;
}

.footer-menu,
.footer-bottom .copyright {
    margin: 0;
    padding: 10px 0;
}
.footer-menu {
    text-transform: uppercase;
}
.footer-menu > li > a,
.footer-bottom .copyright {
    color: #fff;
}
.footer-bottom .copyright {
    text-transform: lowercase;
}

.footer-menu .footer-logo {
    display: inline-block;
    vertical-align: middle;
}

.footer-menu > li > a {
    font-size: 14px;
    text-decoration: none;
}

.footer-menu > li > a:hover,
.footer-menu > li > a:active {
    text-decoration: none;
    color: #b5b5b5;
}

.smart{
    background-color: #f5f5f5;
    margin-bottom: 15px;
    padding: 15px 0 5px;
}
.smart .col-sm-3{
    margin-bottom: 10px;
}
.smart p{
    font-size: 18px;
    line-height: 20px;
    margin: 5px auto 0;
}
.smart .img-responsive {
    margin: 0 auto;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.smart-icon {
    width: 90px;
    height: 90px;
    background: url('../img/smart-notification-grey.png') no-repeat center center;
    margin: 0 auto;
    display: block;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.smart a .smart-notification:before {
  content: url('../img/smart-notification.png');
  width:0;
  height:0;
  visibility:hidden;
}

.smart a .smart-automation {
    background-image: url('../img/smart-automation-grey.png');
}
.smart a .smart-automation:before {
  content: url('../img/smart-automation.png');
  width:0;
  height:0;
  visibility:hidden;
}

.smart a .smart-predictive {
    background-image: url('../img/smart-predictive-grey.png');
}

.smart a .smart-predictive:before {
  content: url('../img/smart-predictive.png');
  width:0;
  height:0;
  visibility:hidden;
}

.smart a .smart-inovation {
    background-image: url('../img/smart-inovation-grey.png');
}

.smart a .smart-inovation:before {
  content: url('../img/smart-inovation.png');
  width:0;
  height:0;
  visibility:hidden;
}

.smart a:hover .smart-notification {
    background-image: url('../img/smart-notification.png');
}
.smart a:hover .smart-automation {
    background-image: url('../img/smart-automation.png');
}
.smart a:hover .smart-predictive {
    background-image: url('../img/smart-predictive.png');
}
.smart a:hover .smart-inovation {
    background-image: url('../img/smart-inovation.png');
}

.home .smart a .color-img {
    display: none;
}
.home .smart a:hover .grey-img {
    display: none;
}

.feature-main {
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.feature-content .panel {
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    position: relative;
    border-radius: 0;
    font-size: 16px;
    display: none;
/*    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;*/
}

.feature-content .current-tab {
    display: block;
/*    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;*/
}

.feature-content .panel-body {
    padding: 30px;
}
.feature-content .panel p,
.feature-content .panel dd{
    margin-bottom: 25px;
}

.feature-content .panel:after, .feature-content .panel:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.feature-content .panel-first:after, .feature-content .panel-first:before {
	left: 22.5%;
}
.feature-content .panel-third:after, .feature-content .panel-third:before {
	left: 77.5%;
}

.feature-content .panel:after {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #f5f5f5;
	border-width: 30px;
	margin-left: -30px;
}
.feature-content .panel:before {
	border-color: rgba(217, 217, 217, 0);
	border-bottom-color: #d9d9d9;
	border-width: 31px;
	margin-left: -31px;
}

.feature-content li{
    margin-bottom: 20px;
}
.feature-content .indent li{
    text-indent: 30px;
}

.home-block .img-responsive {
    margin: 0 auto;
}

.thin-txt {
    font-weight: 300;
}
.page-template-template-home2-php h3,
.page-template-template-home3-php h3 {
    font-size: 34px;
    margin-bottom: 30px;
}
.page-template-template-home2-php .wrap,
.page-template-template-home3-php .wrap {
    font-size: 16px;
}

.home-block {
    padding: 50px 0;
    text-align: justify;
}
.home-block.second {
    background-color: #f5f5f5;
}
.home-block.second ul {
    margin-top: 10px;
}

.page-template-template-home2-php ul .fa-check,
.page-template-template-home3-php ul .fa-check {
    color: #acacad;
    margin-right: 5px;
}

.smart a:hover .img-responsive,
.smart a:active .img-responsive {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
/*
.red {
    color: #d9534f;
    font-weight: 500;
}
.red:hover {
    color: #99382f;
    text-decoration: none;
}*/

.jumbotron p {
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
}



.home .main {
    text-align: center;
}

.main-content {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home-box {
    padding-top: 40px;
}

.arrow-headline {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 35px;
    text-transform: uppercase;
}
.arrow-blue {
    background: url('../img/arrow-blue.png') no-repeat left top;
}
.arrow-green {
    background: url('../img/arrow-green.png') no-repeat left top;
}
.arrow-pink {
    background: url('../img/arrow-pink.png') no-repeat left top;
}
.arrow-violet {
    background: url('../img/arrow-violet.png') no-repeat left top;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}
.border-left {
    border-left: 1px solid #ccc;
}

.checkmark{
    list-style-image: url('../img/checkmark.png');
    padding-left: 55px;
}
ul.arrow-list{
    list-style-image: url('../img/arrow-blue.png');
    padding-left: 35px;
}
ul.arrow-green{
    list-style-image: url('../img/arrow-green.png');
}
ul.arrow-pink{
    list-style-image: url('../img/arrow-pink.png');
}
ul.arrow-violet{
    list-style-image: url('../img/arrow-violet.png');
}
ul.arrow-red{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
ul.arrow-red > li{
    background: url('../img/arrow-red.png') no-repeat 5px 3px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.checkmark li{
    font-size: 18px;
}

/*Benefits*/
.benefits .main-content br {
    display: none;
}

.benefits .row {
    margin-bottom: 40px;
}

.benefits-wrapper {
    padding-left: 140px;
    display: block;
    position: relative;
    padding-top: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.benefits-headline {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 20px;
}

.benefits-wrapper ul {
    padding-left: 20px;
}
.no-ul ul {
    padding-left: 0px;
}
.benefits-wrapper ul > li,
.benefits-wrapper p {
    font-size: 15px;
    line-height: 22px;
}
.benefits-wrapper p {
    margin: 0;
    padding: 0;
}

.benefits-purple {
    background: url('../img/benefits-purple.png') no-repeat left top;
}
.benefits-orange {
    background: url('../img/benefits-orange.png') no-repeat left top;
}
.benefits-green {
    background: url('../img/benefits-green.png') no-repeat left top;
}
.benefits-red {
    background: url('../img/benefits-red.png') no-repeat left top;
}
.benefits-blue {
    background: url('../img/benefits-blue.png') no-repeat left top;
}
.benefits-pink {
    background: url('../img/benefits-pink.png') no-repeat left top;
}
.benefits-tirkiz {
    background: url('../img/benefits-tirkiz.png') no-repeat left top;
}

/*Gray box*/
.gray-box {
    min-height: 20px;
    padding: 35px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}
.gray-box .media-body > p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

/*Post Map*/
.post-map {
    background: url('../img/map-bg.png') no-repeat center center;
    min-height: 212px;
    padding: 60px 0;
    margin-bottom: 20px;
    text-align: center;
    display: table;
    width: 100%;
}

.post-map p {
    vertical-align: middle;
    display: table-cell;
    font-size: 19px;
    line-height: 28px;
    height: 70px;
    text-align: left;
    background: url('../img/red-pointer.png') no-repeat 20px center;
    padding-left: 65px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.join-us-2 .post-map p {
    text-align: center;
}

.post-map p > a {
    color: #da1201;
}
.post-map p > a:hover,
.post-map p > a:focus {
    text-decoration: none;
}

.side-menu > li {
    padding: 0;
    border-color: #f1f1f1;
}
.side-menu > li > a {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    position: relative;
    display: block;
    padding: 10px 15px;
    -webkit-transition: background 0.3s,color 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s,color 0.3s, transform 0.3s;
}
.side-menu > li > a:hover,
.side-menu > li > a:active,
.side-menu > li > a.active {
    color: #333;
    background-color: #f5f5f5;
    text-decoration: none;
}

/* PARTNERS */
.partners {
    text-align: center;
    padding: 50px 0;
}

.partners-list {
    padding: 20px 0 10px;
    margin: 0;
}
.partners-list > li {
    padding: 0 15px;
    margin-bottom: 10px;
}
.partners-list > li > a {
    display: inline-block;
}

.partners-list > li.clearfix {
    display: block;
}
.partners-list .cl,
.partners-list .bw {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    overflow: hidden;
}
.partners-list > li > a .cl,
.partners-list > li > a:hover .bw {
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0.00;
}
.partners-list > li > a:hover .cl,
.partners-list > li > a .bw {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1.00;
}

.partners h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer {
    background-color: #dcdcde;
}
.footer-dark {
    background-color: #59585b;
}

.footer-dark,
.footer-dark a.more,
.footer-dark ul.address-list li,
.footer-dark ul.really_simple_twitter_widget > li,
.footer-dark .feed-box .media-heading {
    color: #dad8d8;
}
.footer-dark .feed-box {
    background: none;
    color: #dad8d8;
}

.footer-dark ul.really_simple_twitter_widget > li > a {
    color: #acacac;
}

.footer .grey-box {
    margin: 0 15px;
}

.footer .req-demo p {
    color: #fff;
    font-size: 1.714em;
    font-weight: 300;
    vertical-align: middle;
    line-height: 1.42857143;
    margin: 0;
}
.footer .req-demo button {
    font-size: 20px;
    margin-left: 5px;
}

.grey-box {
    display: block;
    background-color: #9a9a9d;
    position: relative;
    padding: 40px 60px;
}
.grey-box form {
    display: inline-block;
    width: 100%;
}
.grey-box form input,
.grey-box form button {
    font-size: 18px;
    height: 40px;
}

#notify-email::-webkit-input-placeholder {
   color: #A0A0A0;
   font-size: 16px;
}

#notify-email:-moz-placeholder { 
   color: #A0A0A0; 
   font-size: 16px;
}

#notify-email::-moz-placeholder { 
   color: #A0A0A0;  
   font-size: 16px;
}

#notify-email:-ms-input-placeholder {  
   color: #A0A0A0;  
   font-size: 16px;
}

.footer form .btn-danger,
.contact-section .btn-danger {
    width: 100%;
}
.footer form .btn-danger > .fa,
.contact-section .btn-danger > .fa {
    margin-left: 15px;
}

.feeds .banner {
    text-align: center;
}
.feeds .banner > p {
    margin-bottom: 0;
}
.feeds .banner > a > img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.feeds .banner > a:hover > img {
    -moz-opacity: 0.60;
    opacity: 0.60;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.copyright {
    text-transform: uppercase;
    font-size: 12px;
    padding: 30px 0;
    font-weight: 500;
    color: #8d8d8f;
}

.footer-dark .copyright {
    padding: 5px 0;
}

.home .feeds,
.feeds {
    height: auto;
    margin: 10px 0 0;
    padding: 55px 0;
    background-color: #f5f5f6;
    border-top: 1px solid #ebebed;
}

.home .feeds {
    margin: 0;
}

.feed-box {
    background-color: #e9e9e9;
    height: 240px;
    padding: 30px 20px 30px 35px;
}

.feed-box > h4,
.footer-right > h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 15px;
}

.twitter-feed {
    min-height: 240px;
    height: auto;
}

.blog-news > h4,
.twitter-feed h4,
.widget_reallysimpletwitterwidget > h4{
    background: url('../img/icon-blog.png') no-repeat left center;
    padding-left: 40px;
}

.twitter-feed .twitts,
.blog-news .blog-feeds {
    padding-left: 40px;
}
.twitter-feed h4,
.widget_reallysimpletwitterwidget > h4{
    background: url('../img/twitter-icon.png') no-repeat left center;
}

.red-box {
    background-color: #e25447;
}
.feed-box .red-box,
.blog-post .red-box {
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding-right: 0;
    margin-right: 5px;
}
.feed-box .red-box > span,
.blog-post .red-box > span {
    display: block;
    vertical-align: middle;
}
.feed-box .red-box .month,
.blog-post .red-box .month {
    padding-top: 2px;
}
.feed-box .red-box .date,
.blog-post .red-box .date {
    font-size: 13px;
    line-height: 13px;
}
.feed-box .media-heading {
    font-size: 14px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 0;
}
.feed-box .media-body p {
    font-size: 13px;
    line-height: 18px;
}

a.more {
    color: #e25447;
    text-decoration: none;
    font-style: italic;
}

.jumbotron .twitts p {
    line-height: 20px;
    margin-bottom: 5px;
}
.twitts p.twitt-txt {
    color: #313133;
    font-size: 14px;
}
.twitts p.twitt-txt > span {
    color: #ee584b;
    font-style: italic;
}
.twitts p.date {
    color: #97979c;
    font-style: italic;
    font-size: 13px;
}

/*DEFAULT PAGE*/

.page-header-wrap {
    height: 90px;
    padding: 0;
    background-image: url('../img/default-page-header.png');
    background-position: 44% -58px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.contact-header-wrap {
    background-image: url('../img/contact-page-header.png');
    background-position: 44% -88px;
}

.blog-header-wrap {
    background-image: url('../img/blog-page-header.png');
    background-position: 44% -121px;
}

h3.page-header-title {
    color: #404042;
    font-size: 22px;
    line-height: 90px;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    font-weight: 400;
    letter-spacing: 1px;
}

.page-header-headline { 
  width: 300px; 
  height: 90px; 
  float: right;
  margin-right: 35px;
  display: table; 
}

.page-header-headline p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: left;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

h1.page-title {
    text-align: center;
    font-size: 44px;
    line-height: 50px;
    margin: 15px 0;
    color: #404042;
    font-weight: 400;
    display: none;
} 
h4.page-desc {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #242424;
    font-weight: 400;
    margin-bottom: 40px;
} 

h4.title {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebed;
    margin-bottom: 20px;
}
.contact-wrap h4.title {
    margin-bottom: 40px;
}

ul.address-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.address-list li {
    font-size: 14px;
    color: #59595c;
    line-height: 24px;
    margin: 0 0 5px 0;
    padding: 0 5px 5px 40px;
    list-style: none;
    position: relative;
}
ul.address-list li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #f39c35;
    font-size: 1.2em;
}
/*ul.address-list li.home {
    background: url('../img/icon-home.png') no-repeat left 3px;
}
ul.address-list li.phone {
    background: url('../img/icon-phone.png') no-repeat left 3px;
}
ul.address-list li.mail {
    background: url('../img/icon-mail.png') no-repeat left 3px;
}*/
ul.address-list li.home:before {
    content: "\f015";
}
ul.address-list li.vat:before {
    content: "\f19c";
}
ul.address-list li.phone:before {
    content: "\f095";
    left: 5px;
}
ul.address-list li.mail:before {
    content: "\f0e0";
}
ul.address-list li.terms:before {
    content: "\f0e3";
}
ul.address-list li.privacy:before {
    content: "\f06e";
}

ul.address-list li a {
    color: #dad8d8;
}
ul.address-list li a:hover,
ul.address-list li a:active {
    color: #e25447;
}

.wpcf7-form .control-group p {
	line-height: 1px;
	margin: 0;
}

.wpcf7-form #contact-submit {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

.form-control {
    border: 2px solid #bcbcc2;
    color: #59595c;
}

.form-control::-webkit-input-placeholder {
   color: #A0A0A0;
}

.form-control:-moz-placeholder { 
   color: #A0A0A0;
}

.form-control::-moz-placeholder { 
   color: #A0A0A0;
}

.form-control:-ms-input-placeholder {  
   color: #A0A0A0;
}

textarea {
    resize: none;
    height: 215px !important;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    left: auto;
    top: 0px;
    right: 0px;
    height: 34px;
    padding: 6px 12px;
    font-style: italic;
}

#wpgmza_map {
    border: 1px solid #bcbcc2;
}

/*TEAM TEMPLATE*/
.team-member {
    padding-bottom: 30px;
    padding-top: 30px;
}

.member-lp {
    position: relative;
    display: block;
    text-align: center;
}

.member-photo {
    background: url('../img/member-photo-bg.png') no-repeat center center;
    position: relative;
    display: block;
    text-align: center;
    min-height: 241px;
    min-width: 241px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
}
.member-photo:hover {
    box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
}
.member-photo > img {
    position: absolute;
    width: 158px;
    height: 158px;
    top: 50%;
    left: 50%;
    margin-top: -79px;
    margin-left: -79px;
}

.member-photo .social-links {
    position: relative;
    top: 215px;
}

.social-linkedin,
.social-skype,
.social-twitter {
    background: url('../img/icon-linkedin.png') no-repeat center center;
    width: 48px;
    height: 48px;
    display: inline-block;
}
.social-skype {
    background: url('../img/icon-skype.png') no-repeat center center;
}
.social-twitter {
    background: url('../img/icon-twitter.png') no-repeat center center;
}

.member-about {
    border-left: 1px solid #dcdcde;
    text-align: left;
    padding-left: 20px;
}
.member-about h5 {
    font-size: 22px;
    line-height: 22px;
    margin:0 0 8px 0;
    font-weight: 400;
}
.member-about p.status {
    font-size: 11px;
    line-height: 15px;
    color: #7e8282;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.member-about div.about p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 0;
}

/*END TEAM TEMPLATE*/

/*TEAM TEMPLATE 2*/ 

.team-member-about {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    display: none;
    margin-bottom: 20px;
}
.activeInfo {
    display: block;
}
.team-member-about header {
    margin-bottom: 10px;
    text-align: left;
}
.team-member-about header .name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    float: left;
}
.team-member-about header .social-icons {
    line-height: 24px;
    font-size: 12px;
    float: right;
}
.team-member-about header .social-icons ul {
    padding: 0;
    margin: 0;
} 
.team-member-about header .social-icons ul li {
    padding: 0;
} 
.team-member-about header .social-icons .tw .fa-circle {
    color: #0daadc;
} 
.team-member-about header .social-icons .tw a:hover .fa-circle {
    color: #0EBFF7;
} 
.team-member-about header .social-icons .in .fa-circle {
    color: #007db1;
} 
.team-member-about header .social-icons .in a:hover .fa-circle {
    color: #00A1E4;
} 
.team-member-about h5 {
    font-weight: 700;
    color: #888888;
    text-transform: uppercase;
}
.team-member-about p {
    color: #888888;
    font-size: 13px;
}

.team-images ul li {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.team-images ul li a,
.team-member-about,
.team-member-about header .social-icons .fa-circle{
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.team-images ul li a.active img {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    border: 10px solid #1ab1f8;
} 

/*END TEAM TEMPLATE*/

/*BLOG*/

.blog-wrap {
    position: relative;
    min-height: 1px;
    display: inline-block;
}

.blog-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #d9d9db;
    left: 40px;
}
.blog-post, 
.blog-post .article {
    overflow: hidden;
    zoom: 1;
}

.blog-post .date-box {
    width: 112px;
    display: block;
    float: left;
    
}
.blog-post .red-box {
    width: 78px;
    height: 78px;
    font-size: 22px;
    font-weight: 400;
}
.blog-post .red-box .month {
    padding-top: 15px;
    line-height: 22px;
}

.blog-post .red-box .date {
    font-size: 28px;
    line-height: 28px;
}
.blog-post .article h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 0;
}
.blog-post .article h3 > a {
    color: #242424;
}
.blog-post .article img,
.blog-post .article .entry-meta,
.blog-post .article h4 {
    margin: 0 0 25px 0;
}
.blog-post .article img {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog-post .article .post-content p,
.blog-post .article .post-content ul li {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
.blog-post .article .post-content p {
    margin-bottom: 20px;
}

.blog-post .article .post-content p a {
    color: #e25447;
}

.blog-post .article h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.entry-meta ul {
    margin-left: 0;
}
.entry-meta ul li {
    border-left: 1px solid #d9d9db;
    padding: 0 5px;
    font-size: 12px;
    line-height: 22px;
    color: #727575;
}
.entry-meta ul li:first-child {
    border-left: none;
}
.entry-meta ul li a,
.entry-meta ul li.comments,
.comment-reply-link {
    color: #e25447;
}

.entry-meta ul li.author {
    background: url('../img/icon-author.png') no-repeat left center;
    padding-left: 20px;
}

.widget {
    background-color: #f2f2f2;
    padding: 30px 20px;
    margin-bottom: 30px;
}
.widget h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 15px;
    margin-top: 0;
}

.widget > ul,
ul.really_simple_twitter_widget{
    list-style-image: url('../img/checkmark.png');
    padding-left: 35px;
}
.widget > ul > li{
    font-size: 15px;
    padding-left: 10px;
}
.widget_blog_news_posts ul li {
    margin-bottom: 15px;
}
.widget_blog_news_posts ul li,
.widget_blog_news_posts ul li > a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #242424;
}
.widget_blog_news_posts ul li > span {
    font-size: 12px;
    line-height: 22px;
    color: #727575;
}
.widget_blog_news_posts ul li > span.author {
    color: #e25447;
    border-left: 1px solid #727575;
    padding-left: 5px;
    margin-left: 5px;
}

blockquote {
    padding: 0px 10px;
    margin: 20px 0 20px 45px;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    border-left: 5px solid #e25447;
    color: #7e7e7e;
}

/*COMMENTS*/

#comments,
#respond {
    margin-bottom: 80px;
}

#comments li.comment {
    margin-top: 25px;
}

.avatar-photo {
    background: url('../img/red-circle.png') no-repeat center center;
    position: relative;
    display: block;
    text-align: center;
    min-height: 99px;
    min-width: 99px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.avatar-photo:hover {
    box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
}
.avatar-photo > img {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 50%;
    left: 50%;
    margin-top: -34.5px;
    margin-left: -34.5px;
}

.media-heading {
    color: #db462e;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 10px;
}

.media-heading time {
    color: #727575;
    border-left: 1px solid #727575;
    padding-left: 5px;
    margin-left: 5px;
}

.media-body > p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
}

/* PRINCING */
.pricing-table-wrap {
    &>.pricing-upper {
        background-color: #ffffff; // Old browsers
        @include filter-gradient(#ffffff, #f5f5f5, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #ffffff 0%,#ffffff 65%,#f5f5f5 65%,#f5f5f5 100%));
    }
    .bottom-pricing {
        &>h2 {
            text-align: center;
            background-color: #4bbea4;
            padding: 35px 0;
            margin: 0;
            color: white;
            line-height: 1.6;
            &>i {
                margin-right: 10px;
                vertical-align: -2px;
            }
        }
    }
    
    #plans-scroll {
        position: fixed;
        right: 15px;
        background-color: #4bbea4;
        @include border-radius(50%);
        padding: 5px;
        display: block;
        width: 60px;
        height: 60px;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 1;
        z-index: 2;
        @include box-shadow(rgba(0, 0, 0, 0.3) 0px 2px 2px);
        @include transition(opacity 0.3s ease-in-out);
        &>* {
            display: block;
        }
        &>span {
            font-size: 10px;
            margin-top: 5px;
        }
        &:hover {
            @include opacity(0.7);
        }
        &:hover,&:focus {
            text-decoration: none;
        }
    }
    
    .text-block {
        position: relative;
        margin-bottom: 35px;
        padding-left: 35px;
        &:before {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            content: "\f059";
            position: absolute;
            left: 0px;
            top: -9px;
            font-size: 30px;
            color: #4bbea4;
        }
    }
}


.pricing-tables {
  padding: 20px; }
  .pricing-tables h1 {
    font-size: 48px; }
  .pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
  .pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .pricing-tables .plan.recommended .head {
      margin-bottom: 20px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .pricing-tables.attached .col-sm-12,
  .pricing-tables.attached .col-md-12,
  .pricing-tables.attached .col-sm-4,
  .pricing-tables.attached .col-md-4,
  .pricing-tables.attached .col-sm-3,
  .pricing-tables.attached .col-sm-3,
  .pricing-tables.attached .col-sm-2,
  .pricing-tables.attached .col-md-2 {
    padding-left: 0;
    padding-right: 0; }
  .pricing-tables.attached .premium .col-sm-4,
  .pricing-tables.attached .premium .col-md-4 {
    padding-left: 15px;
    padding-right: 15px; }
  .pricing-tables.attached .plan {
    border-radius: 0; }
    .pricing-tables.attached .plan .head {
      border-radius: 0; }
    .pricing-tables.attached .plan.recommended {
      border-radius: 4px; }
      .pricing-tables.attached .plan.recommended .head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.last {
      border-bottom-right-radius: 4px; }
      .pricing-tables.attached .plan.last .head {
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.first {
      border-bottom-left-radius: 4px; }
      .pricing-tables.attached .plan.first .head {
        border-top-left-radius: 4px; }

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.3);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  color: #242424;
  text-align: center; }
  .plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    background: #1c1c1c;
    color: #fff; }
    .plan .head h1, .plan .head h2, .plan .head h3 {
      padding: 0;
      margin: 0;
      font-weight: 100; }
    .pricing-tables .fa {
        margin-right: 5px;
    }
  .plan .price {
    border-top: 1px solid #eee;
    margin: 0 auto 30px auto;
    width: 80%; }
    .plan .price h3 {
      font-size: 70px;
      vertical-align: top;
      line-height: 1; }
      .plan .price h3 span {
        font-size: 38px;
        vertical-align: top;
        position: relative;
        margin: 6px 0 0 -7px;
        display: inline-block; }
    .plan .price h4 {
      color: #aaa;
      font-size: 14px; }
  .plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500; }
  .plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px; }
    .plan ul li {
      line-height: 22px;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 400; }
      .plan ul li a {
        text-decoration: underline;
        color: #e6e9ed; }
      .plan ul li:last-child {
        border-bottom: none; }
    .plan ul strong {
      font-weight: 700; }
  .plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px; }
    .plan.recommended .head {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #171717; }
    .plan.recommended .btn {
      margin-bottom: 10px; }
    
    .pricing-tables .green .head,
    .pricing-tables .green .btn,
    .plan.green .head {
        background-color: #4bbea4;
    }
    .pricing-tables .red .head,
    .pricing-tables .red .btn,
    .plan.red .head {
        background-color: #dc472f;
    }
    .pricing-tables .violet .head,
    .pricing-tables .violet .btn,
    .plan.violet .head {
        background-color: #805383;
    }
    .pricing-tables .yellow .head,
    .pricing-tables .yellow .btn,
    .plan.yellow .head {
        background-color: #f49d37;
    }
    .pricing-tables .blue .head,
    .pricing-tables .blue .btn,
    .plan.blue .head {
        background-color: #3498DB;
    }
    .plan .btn-wrap {
        height: 125px;
        position: relative;
        line-height: 125px;
        vertical-align: middle;
    }
    .plan .btn-wrap > .btn {
        vertical-align: middle;
        display: inline-block;
    }
    
    .plan .btn {
        border-color: transparent;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: #fff;
    }
    
    .plan .btn:hover,
    .plan .btn:active {
        -moz-opacity: 0.70;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        filter:alpha(opacity=70);
        opacity: 0.70;
    }
    
    .premium .item-list {
        padding-bottom: 0;
    }
    
    .pricing-premium {
        background-color: #f5f5f5;
    }

/*TWITTER*/

ul.really_simple_twitter_widget > li {
    color: #313133;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
    font-weight: 400;
}
ul.really_simple_twitter_widget > li > a {
    font-style: italic;
}
ul.really_simple_twitter_widget > li.twitter-timestamp {
    list-style: none;
    color: #97979c;
    font-style: italic;
    font-size: 13px;
}

/*END BLOG*/

.table-news > thead > tr > td{
    font-size: 16px;
    font-weight: bold;
}
.table-news > tbody > tr > td{
    border-bottom: 1px dotted #ddd;
}
.table-news > tbody > tr > td > a{
    color: #471b98;
}


/*MEDIA QUERY*/

@media (min-width: 1200px) {
    .footer-menu > li {
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 1200px) {
    .home .main-content .col-sm-6 {
        height: 250px;
    }
    .feed-box {
        height: 260px;
    }
    .footer-dark .feed-box {
        height: auto;
    }
    
    
}
@media (min-width: 992px) and (max-width: 1200px) {
    .member-lp,
    .member-about {
        width: 100%;
        float: none;
    }
    
    .member-about {
        border-left: none;
        padding-left: 15px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 993px) {
/*    .navbar-nav>li {
        border-left: 1px solid #f1f1f1;
    }*/
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;    
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    
    .partners-list > li {
        width: 18%;
    }
    .footer-menu > li > a {
        font-size: 12px;
    }
	.navbar-nav>li.twitter-link>a {
		padding-left:0px;
	}
    
}
@media (min-width: 992px) {
    
    header .social-menu{
        display: none;
    }
    
    .join-us-2 .post-map p {
        background: url('../img/red-pointer.png') no-repeat 20% center;
    }
    
    .carousel h1 {
        margin-top: 30px;
    }
    
}

@media (max-width: 992px) {
    .team-member {
        border-bottom: 1px solid #dcdcde;
    }
    
    header .navbar-toggle {
        margin-top: 20px;
    }
    
    .page-template-template-home2-php .jumbotron {
        min-height: 305px;
        height: auto;
    }
    
    .page-template-template-home2-php .jumbotron .container > .row {
        text-align: center;
    }
    
    .page-template-template-home2-php .jumbotron h1 {
        font-size: 2em;
    }
    .page-template-template-home2-php .jumbotron h2 {
        font-size: 1.4em;
    }
    .page-template-template-home2-php .jumbotron .bg {
        position: relative;
    }
    
    .page-template-template-home2-php .txt-box,
    .page-template-template-home3-php .txt-box {
        padding: 10px 0;
    }
   
}
@media (min-width: 991px) {
    .navbar-nav>li>a {
        line-height: 60px;
        padding-top: 0;
        border-top: 6px solid #fff;
        padding-bottom: 4px;
    }
    .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-nav>li>a:active {
        border-top: 6px solid #d73f2a;
    }
    .navbar-nav>li {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .navbar-nav>li:hover,
    .navbar-default .navbar-nav>.active{
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
    }
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
        border-color: #d73f2a;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background-color: #fff;
    }
    
    .social-menu>li{
        border-left: none;
    }
    
}
@media (max-width: 991px) {
     .social-menu{
        margin-right: 5px;
    }
    .social-menu>li{
        border-left: none;
        float: left;
    }
    
    #menu-menu>li.twitter-link,
    #menu-menu>li.linkedin-link {
        float: left;
        width: 50%;
    }
    #menu-menu>li.twitter-link {
        text-align: right;
    }
    
    .join-us-2 .post-map p {
        background: url('../img/red-pointer.png') no-repeat 10% center;
    }
    
    .jumbo-headline h1 {
        font-size: 1.5em;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background-color: #d73f2a;
        color: #fff;
    }
    #home-carousel {
        height: 800px;
    }
    .carousel-wrap,
    #home-carousel .carousel-inner .item {
        height: auto;
        max-height: 420px;
    }
    .carousel-wrap {
        padding-top: 15px;
    }
    #home-carousel .carousel-inner .item {
        min-height: 305px;
    }
    #home-carousel .carousel-inner .item > img {
        position: relative;
    }
    #home-carousel .text-box {
        display: block;
        min-height: 100%;
        width: 100%;
        float: none;
    }
    #home-carousel .text-box > .inner {
        display: block;
        text-align: center;
    }
}
@media (min-width: 991px) and (max-width: 992px){
    .social-menu>li>a {
        line-height: 47px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer form .btn-danger,
    .contact-section .btn-danger{
        width: 127%;
    }
    
    .footer-dark .feed-box {
        height: auto;
    }
    
    .plan .price h3 {
        font-size: 50px;
    }
    
    .plan .head h2 {
        font-size: 27px;
    }
    .plan ul li {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    
    .border-left,
    .border-bottom {
        border: none;
    }
    
    .contact-section .btn-danger {
        margin-top: 10px;
    }
    
    .last-box {
        border-bottom: none !important;
    }
    
    .home .main-content .col-sm-6 {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding: 20px 15px;
    }
    
    .feed-box,
    .home .jumbotron {
        height: auto;
    }
    
    .twitter-feed,
    .blog-news {
        border-top: 1px solid #ccc;
    }
    
    .home .jumbotron {
        margin-bottom: 0;
    }
    
    header .navbar-toggle {
        margin-top: 25px;
    }
    
    .jumbo-headline h1 {
        font-size: 1.2em;
        line-height: 1.5;
    }
    .footer-menu {
        text-align: center;
    }
}

@media (max-width: 730px) {
    .footer .req-demo button {
        margin-top: 5px;
    }
    
    
}
@media (max-width: 600px) {
    .col-xs-6 {
        width: 100%;
        float: none;
        text-align: center;
    }
    #home-carousel {
        height: 315px;
    }
    .twitter_text {
        text-align: center !important;
    }
    
    .member-about {
        border-left: none;
        padding-left: 15px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .gray-box img {
        width: 160px;
    }
    
    .jumbo-headline h1 {
        font-size: 1em;
    }
}
@media (max-width: 530px) {
    .navbar-brand>img {
        height: 35px;
    }
}
@media (max-width: 479px) {
    .main-content .col-sm-6 {
        min-height: 280px;
        height: auto;
    }
    .logo img {
        height: 40px;
    }
    
    .gray-box div > a,
    .gray-box div > a > img,
    .gray-box div > div {
        float: none;
        width: 100%;
    }
    
    .page-header-headline {
        width: auto;
        margin-right: 15px;
        display: table;
    }
    
    .page-header-headline p {
        font-size: 16px;
        font-weight: 400;
    }
}

@media (min-width: 461px) and (max-width: 991px) {
    #menu-menu>li.twitter-link,
    #menu-menu>li.linkedin-link {
        display: none;
    }
}

@media (max-width: 460px){
    body {
        padding-top: 55px;
    }
    .carousel-wrap {
        padding-top: 10px;
    }
    
    header .social-menu{
        display: none;
    }
    #home-carousel .text-box {
        margin-top: 10px;
    }
    
    .carousel h1 {
        font-size: 22px;
    }
    .carousel h2 {
        font-size: 18px;
        line-height: 1.6;
    }
    .navbar-brand {
        width: 70%;
    }
     .navbar-brand > img {
        height: auto;
        width: auto;
        max-width: 100%;
    }
    
}
@media (max-width: 420px) {
    
    .page-template-template-home2-php .jumbotron h1 {
        font-size: 1.5em;
    }
    .page-template-template-home2-php .jumbotron h2 {
        font-size: 1.2em;
    }
}
@media (max-width: 360px) {
    .page-header-headline {
        width: 180px;
    }
    
    .page-header-headline p {
        font-size: 12px;
        line-height: 20px;
    }
}
@media (max-width: 340px) {
    .home .main-content .col-sm-6 {
        height: 300px;
    }
    
    .navbar-brand {
        padding: 15px 0;
    }
}


// Breakpoints
//  Mobile First
@include min-screen(320px) {}
@include min-screen(480px) {}
@include min-screen(768px) {}
@include min-screen(992px) {}
@include min-screen(1200px) {
    .navbar-nav>li.contact-us{
        border: none;
        &:hover,&:focus {
            border: none;
        }
        &>a {
            line-height: 1;
            padding: 10px 15px;
            margin: 17px 0 10px;
            border: 2px solid;
            border-radius: 22px;
            border-color: #F0847A;
            &:hover,&:focus {
                border-top-width: 2px;
                border-color: #e25447;
            }
        }
        &.active {
            border: none;
            &>a {
                border-top-width: 2px;
                border-color: #e25447;
            }
        }
    }
}

@include min-screen(1400px) {}

//  min-max
@include screen(992px,1199px) {
    .navbar-nav{
        &>li{
            &>a {
                font-size: 14px;
            }
            &.twitter-link,&.linkedin-link {
                &>a {
                    padding-top: 5px;
                }
            }
        }
    }
}
@include screen(768px,991px) {}
@include screen(480px,767px) {}
@include screen(320px,479px) {}

//  Non-Mobile First
@include max-screen(1199px) {
    .nav{
        &>li{
            &>a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
@include max-screen(991px) {
    .navbar-default {
        .navbar-nav{
            &>li{
                &>a {
                    &:hover,&:focus {
                        color: #e25447;
                    }
                }
            }
        }
    }
    
    #home-carousel{
        .text-box{
            button {
                margin-bottom: 0;
            }
        }
    }
    
}
@include max-screen(767px) {}
@include max-screen(640px) {}
@include max-screen(560px) {}
@include max-screen(479px) {}
@include max-screen(380px) {}
@include max-screen(319px) {}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
